
{{#if exercises}}
{{#each exercises}}
<div class="card">
    <h2 id="routine" class="card-header">
        routine
    </h2>
    <div class="card-body">
        <h3 id="exercise" class="card-title">Exercise Name</h3>
        <p id="time" class="card-text">time</p>
        <p id="notes" class="card-text">notes</p>
        <p id="facepalms" class="card-text">facepalms</p>
        <p id="googlesearches" class="card-text">google searches</p>
    </div>
</div>
{{/each}}
{{/if}}